mixin gathered()
    script(id="gathered-case" type="text/template")
        .case-study.gathered.site-monitor-page(data-track-target="Gathered")
            .hero
                .backgroun-img
                .hint-header
                    .number 04
                    .label(data-text-io="cases:gathered:superTitle")
                .title(data-text-io="cases:gathered:title")
                .subtitle(data-text-io="cases:gathered:subtitle")
            .case-study-content
                .introduction
                    .left
                        .summary-container
                            .client-logo
                                img(src="http://assets.ericphelan.com/img/logos/gathered.png")
                            ul.details
                                li
                                    .label(data-text-io="cases:labels:role")
                                    .value(data-text-io="cases:gathered:role")
                                li
                                    .label(data-text-io="cases:labels:engagement")
                                    .value(data-text-io="cases:gathered:engagement")
                                li
                                    .label(data-text-io="cases:labels:people")
                                    .value
                                        ul
                                            li
                                                a(data-attr-io="href|cases:gathered:people:0:link" data-text-io="cases:gathered:people:0:name" target="_blank")
                                            li
                                                a(data-attr-io="href|cases:gathered:people:1:link" data-text-io="cases:gathered:people:1:name" target="_blank")
                                li
                                    .label(data-text-io="cases:labels:funding")
                                    .value(data-text-io="cases:gathered:funding")
                                li
                                    .label(data-text-io="cases:labels:tech")
                                    .value
                                        ul.tags
                                            li(data-text-io="cases:gathered:tech:0")
                                            li(data-text-io="cases:gathered:tech:1")
                                            li(data-text-io="cases:gathered:tech:2")
                                    .clearfix

                    .right
                        .intro-text
                            h4(data-text-io="cases:labels:introduction")
                            p(data-text-io="cases:gathered:introduction:paragraphs:0")
                            p(data-text-io="cases:gathered:introduction:paragraphs:1")
                            p(data-text-io="cases:gathered:introduction:paragraphs:2")
                        .contributions.scroll-effect.in-up
                            h4(data-text-io="cases:labels:contributions")
                            ul
                                li
                                    .name(data-text-io="cases:gathered:contributions:0")
                                li
                                    .name(data-text-io="cases:gathered:contributions:1")
                                li
                                    .name(data-text-io="cases:gathered:contributions:2")
                                li
                                    .name(data-text-io="cases:gathered:contributions:3")

                    .clearfix
                .case-study-body
                    .section
                        .container.scroll-effect.in-up
                            h4(data-text-io="cases:gathered:sections:0:heading")
                            .blurb.center
                                p(data-text-io="cases:gathered:sections:0:paragraphs:0")
                            .scroll
                                ul
                                    li.scroll-effect.in-left
                                        .thumb.right
                                            img(src="http://assets.ericphelan.com/img/gathered_home.jpg")
                                        .left.info
                                            .title(data-text-io="cases:gathered:sections:0:features:0:title")
                                            .description
                                                p(data-text-io="cases:gathered:sections:0:features:0:paragraphs:0")
                                                p(data-text-io="cases:gathered:sections:0:features:0:paragraphs:1")
                                        .clearfix
                                    li.scroll-effect.in-right
                                        .thumb.left
                                            img(src="http://assets.ericphelan.com/img/gathered_detail.jpg")
                                        .right.info
                                            .title(data-text-io="cases:gathered:sections:0:features:1:title")
                                            .description
                                                p(data-text-io="cases:gathered:sections:0:features:1:paragraphs:0")
                                                p(data-text-io="cases:gathered:sections:0:features:1:paragraphs:1")
                                        .clearfix
                                    li.scroll-effect.in-left
                                        .thumb.right
                                            img(src="http://assets.ericphelan.com/img/gathered_custom.jpg")
                                        .left.info
                                            .title(data-text-io="cases:gathered:sections:0:features:2:title")
                                            .description
                                                p(data-text-io="cases:gathered:sections:0:features:2:paragraphs:0")
                                                p(data-text-io="cases:gathered:sections:0:features:2:paragraphs:1")
                                        .clearfix
                            .clearfix
                            .line
                            .center.flow-diagram

                    .footer
                        .container
                            .right.next-container
                                .next-project
                                    .label  NEXT
                                        img(src="http://assets.ericphelan.com/img/right_arrow.png")

