mixin ipplicant()
    script(id="ipplicant-case" type="text/template")
        .case-study.ipplicant.site-monitor-page(data-track-target="ipplicant")
            .hero
                .hint-header
                    .number 06
                    .label(data-text-io="cases:ipplicant:superTitle")
                .title(data-text-io="cases:ipplicant:title")
                .subtitle(data-text-io="cases:ipplicant:subtitle")
                img(src="assets/img/hr-cloud.png")
            .case-study-content
                .introduction
                    .left
                        .summary-container
                            .client-logo
                                a.site-monitor-click(href="/archive/ipplicant/welcome.html" target="_blank" data-track-target="Case Link: ipplicant logo")
                                    img(src="assets/img/logos/ipplicant_full_color.png")
                            ul.details
                                li
                                    .label(data-text-io="cases:labels:role")
                                    .value(data-text-io="cases:ipplicant:role")
                                li
                                    .label(data-text-io="cases:labels:engagement")
                                    .value(data-text-io="cases:ipplicant:engagement")
                                li
                                    .label(data-text-io="cases:labels:funding")
                                    .value(data-text-io="cases:ipplicant:funding")
                                li
                                    .label(data-text-io="cases:labels:tech")
                                    .value
                                        ul.tags
                                            li(data-text-io="cases:ipplicant:tech:0")
                                            li(data-text-io="cases:ipplicant:tech:1")
                                            li(data-text-io="cases:ipplicant:tech:2")
                                            li(data-text-io="cases:ipplicant:tech:3")
                                            li(data-text-io="cases:ipplicant:tech:4")
                                            li(data-text-io="cases:ipplicant:tech:5")
                                    .clearfix
                    .right
                        .intro-text
                            h4(data-text-io="cases:labels:introduction")
                            p(data-text-io="cases:ipplicant:introduction:paragraphs:0")
                            p(data-text-io="cases:ipplicant:introduction:paragraphs:1")
                            p(data-text-io="cases:ipplicant:introduction:paragraphs:2")
                            p(data-text-io="cases:ipplicant:introduction:paragraphs:3")

                        .contributions.scroll-effect.in-up
                            h4(data-text-io="cases:labels:experience")
                            ul
                                li
                                    .name(data-text-io="cases:ipplicant:experiences:0")
                                li
                                    .name(data-text-io="cases:ipplicant:experiences:1")
                                li
                                    .name(data-text-io="cases:ipplicant:experiences:2")
                                li
                                    .name(data-text-io="cases:ipplicant:experiences:3")
                                li
                                    .name(data-text-io="cases:ipplicant:experiences:4")
                                li
                                    .name(data-text-io="cases:ipplicant:experiences:5")
                        .clearfix
                            p.note(data-text-io="cases:ipplicant:introduction:note")
                .case-study-body
                    .section.color-fill.business-dashboard.gray
                        .container.scroll-effect.in-up
                            h4(data-text-io="cases:ipplicant:sections:0:heading")
                            h5(data-text-io="cases:ipplicant:sections:0:subheading")
                            .blurb.center
                                p(data-text-io="cases:ipplicant:sections:0:paragraphs:0")
                            .blurb.left
                                ul
                                    li.scroll-effect.in-left(data-text-io="cases:ipplicant:sections:0:features:0")
                                    li.scroll-effect.in-left(data-text-io="cases:ipplicant:sections:0:features:1")
                                    li.scroll-effect.in-left(data-text-io="cases:ipplicant:sections:0:features:2")
                                    li.scroll-effect.in-left(data-text-io="cases:ipplicant:sections:0:features:3")
                                    li.scroll-effect.in-left(data-text-io="cases:ipplicant:sections:0:features:4")
                                    li.scroll-effect.in-left(data-text-io="cases:ipplicant:sections:0:features:5")
                            .macbook-interactive.right
                                .stretch-wrap-container
                                    .stretch-content-container.macbook-wire-bg
                                        img(src="assets/img/ipplicant_demo.jpg")
                                    img(src="assets/img/macbook-frame-stretch-bg-normal.png")
                                a.sales-site-link.site-monitor-click(href="/archive/ipplicant/welcome.html" target="_blank" data-text-io="cases:ipplicant:sections:0:link" data-track-target="Case Link: ipplicant archive")
                            .clearfix
                    .section.scroll-effect.in-up
                        h4(data-text-io="cases:ipplicant:sections:1:heading")
                        h5(data-text-io="cases:ipplicant:sections:1:subheading")
                        p(data-text-io="cases:ipplicant:sections:1:paragraphs:0")
                        .demo.iframe-switch
                            .stretch-wrap-container
                                .stretch-content-container.macbook-real-bg.interactive-container
                                    .slide-panel
                                        iframe(src="https://www.youtube.com/embed/xVoFCRWPTf8?rel=0&amp;controls=1&amp;showinfo=0" frameborder="0" height=200 width=200 allowfullscreen data-attr-io="description|cases:ipplicant:sections:1:captions:0")
                                        iframe(src="https://www.youtube.com/embed/7oWm72truXw?rel=0&amp;controls=1&amp;showinfo=0" frameborder="0" height=200 width=200 allowfullscreen data-attr-io="description|cases:ipplicant:sections:1:captions:1")
                                        iframe(src="https://www.youtube.com/embed/Y40J3HzxFLI?rel=0&amp;controls=1&amp;showinfo=0" frameborder="0" height=200 width=200 allowfullscreen data-attr-io="description|cases:ipplicant:sections:1:captions:2")
                                        iframe(src="https://www.youtube.com/embed/uc808t2nKpg?rel=0&amp;controls=1&amp;showinfo=0" frameborder="0" height=200 width=200 allowfullscreen data-attr-io="description|cases:ipplicant:sections:1:captions:3")
                                img(src="assets/img/macbook-background-normal.jpg")
                    .footer
                        .container
                            .right.next-container
                                .next-project
                                    .label.site-monitor-click(data-track-target="Case Next") NEXT
                                        img(src="assets/img/right_arrow.png")

