mixin lassa()
    script(id="lassa-case" type="text/template")
        .case-study.lassa.site-monitor-page(data-track-target="lassa")
            .hero
                .hint-header
                    .number 07
                    .label(data-text-io="cases:lassa:superTitle")
                .title(data-text-io="cases:lassa:title")
                .subtitle(data-text-io="cases:lassa:subtitle")
                .three-logos
                    img(src="assets/img/logos/harvard.png")
                    img(src="assets/img/logos/broad.png")
            .case-study-content
                .introduction
                    .left
                        .summary-container
                            .client-logo
                                a.site-monitor-click(href="https://www.sabetilab.org" target="_blank" data-track-target="Case Link: Sabeti Lab")
                                    img(src="assets/img/logos/harvard.png")
                            ul.details
                                li
                                    .label(data-text-io="cases:labels:role")
                                    .value(data-text-io="cases:lassa:role")
                                li
                                    .label(data-text-io="cases:labels:engagement")
                                    .value(data-text-io="cases:lassa:engagement")
                                li
                                    .label(data-text-io="cases:labels:people")
                                    .value
                                        ul
                                            li
                                                a(data-attr-io="href|cases:lassa:people:0:link" data-text-io="cases:lassa:people:0:name")
                                            li
                                                a(data-attr-io="href|cases:lassa:people:1:link" data-text-io="cases:lassa:people:1:name")
                                            li
                                                a(data-attr-io="href|cases:lassa:people:2:link" data-text-io="cases:lassa:people:2:name")
                    .right
                        .intro-text
                            h4(data-text-io="cases:labels:introduction")
                            p(data-text-io="cases:lassa:introduction:paragraphs:0")
                            p(data-text-io="cases:lassa:introduction:paragraphs:1")
                        .contributions.scroll-effect.in-up
                            h4(data-text-io="cases:labels:contributions")
                            ul
                                li
                                    .name(data-text-io="cases:lassa:contributions:0")
                                li
                                    .name(data-text-io="cases:lassa:contributions:1")
                                li
                                    .name(data-text-io="cases:lassa:contributions:2")
                                li
                                    .name(data-text-io="cases:lassa:contributions:3")
                                li
                                    .name(data-text-io="cases:lassa:contributions:4")
                                li
                                    .name(data-text-io="cases:lassa:contributions:5")
                    .clearfix
                .case-study-body
                    .section.color-fill.business-dashboard.black
                        .container.scroll-effect.in-up
                            h4(data-text-io="cases:lassa:sections:0:heading")
                            h5(data-text-io="cases:lassa:sections:0:subheading")
                            .blurb.center
                                p(data-text-io="cases:lassa:sections:0:paragraphs:0")
                                p
                                    strong(data-text-io="cases:lassa:sections:0:goals:heading")
                                ul.scroll-effect.in-up
                                    li(data-text-io="cases:lassa:sections:0:goals:list:0")
                                    li(data-text-io="cases:lassa:sections:0:goals:list:1")
                                    li(data-text-io="cases:lassa:sections:0:goals:list:2")
                                    li(data-text-io="cases:lassa:sections:0:goals:list:3")
                                    li(data-text-io="cases:lassa:sections:0:goals:list:4")
                            .clearfix
                    .image-carousel
                        ul
                            li.scroll-effect.ligh-up
                                img(src="assets/img/lassa/lassa_1.jpg")
                            li.scroll-effect.ligh-up
                                img(src="assets/img/lassa/lassa_3.jpg")
                            li.scroll-effect.ligh-up
                                img(src="assets/img/lassa/lassa_2.jpg")
                            li.scroll-effect.ligh-up
                                img(src="assets/img/lassa/lassa_4.jpg")
                    .section.scroll-effect.in-up
                        h4(data-text-io="cases:lassa:sections:1:heading")
                        p(data-text-io="cases:lassa:sections:1:paragraphs:0")
                        ul.two-columns
                            li.scroll-effect.in-left
                                .contain
                                    .title(data-text-io="cases:lassa:sections:1:highlights:0:title")
                                    .detail
                                        p(data-text-io="cases:lassa:sections:1:highlights:0:desc")
                            li.scroll-effect.in-left
                                .contain
                                    .title(data-text-io="cases:lassa:sections:1:highlights:1:title")
                                    .detail
                                        p(data-text-io="cases:lassa:sections:1:highlights:1:desc")

                            li.scroll-effect.in-right
                                .contain
                                    .title(data-text-io="cases:lassa:sections:1:highlights:2:title")
                                    .detail
                                        p(data-text-io="cases:lassa:sections:1:highlights:2:desc")
                            li.scroll-effect.in-right
                                .contain
                                    .title(data-text-io="cases:lassa:sections:1:highlights:3:title")
                                    .detail
                                        p(data-text-io="cases:lassa:sections:1:highlights:3:desc")

                    .section.summary.scroll-effect.in-up
                        h4(data-text-io="cases:lassa:sections:2:heading")
                        p(data-text-io="cases:lassa:sections:2:paragraphs:0")

                        ul.publications
                            li
                                a.site-monitor-click.title(data-attr-io="href|cases:lassa:sections:2:publications:0:link" data-text-io="cases:lassa:sections:2:publications:0:title" data-track-target="Case Link: Pub 1")
                                .detail(data-text-io="cases:lassa:sections:2:publications:0:citation")
                            li
                                a.site-monitor-click.title(data-attr-io="href|cases:lassa:sections:2:publications:1:link" data-text-io="cases:lassa:sections:2:publications:1:title" data-track-target="Case Link: Pub 2")
                                .detail(data-text-io="cases:lassa:sections:2:publications:1:citation")
                            li
                                a.site-monitor-click.title(data-attr-io="href|cases:lassa:sections:2:publications:2:link" data-text-io="cases:lassa:sections:2:publications:2:title" data-track-target="Case Link: Pub 3")
                                .detail(data-text-io="cases:lassa:sections:2:publications:2:citation")
                    .footer

