//
   Created by ericphelan on 10/18/17.
mixin principly()
    script(id="principly-case" type="text/template")
        .case-study.principly.site-monitor-page(data-track-target="principly")
            .full-page.media-player#principly-flow-fullsize
                .container
                    .media-element
                        img(src="assets/img/principly_flow_full.png")
            .full-page.media-player#principly-design-fullsize
                .container
                    .media-element
                        img(src="assets/img/principly_design_full.jpg")
            .hero
                .backgroun-img
                .hint-header
                    .number 03
                    .label(data-text-io="cases:principly:superTitle")
                .title(data-text-io="cases:principly:title")
                .subtitle(data-text-io="cases:principly:subtitle")
            .case-study-content
                .introduction
                    .left
                        .summary-container
                            .client-logo
                                a.site-monitor-click(href="https://www.bloomberg.com/research/stocks/private/snapshot.asp?privcapId=321335624" target="_blank" data-track-target="Case Link: principly")
                                    img(src="assets/img/logos/principly_with_name.png")
                            ul.details
                                li
                                    .label(data-text-io="cases:labels:role")
                                    .value(data-text-io="cases:principly:role")
                                li
                                    .label(data-text-io="cases:labels:engagement")
                                    .value(data-text-io="cases:principly:engagement")
                                li
                                    .label(data-text-io="cases:labels:people")
                                    .value
                                        ul
                                            li
                                                a.site-monitor-click(data-attr-io="href|cases:principly:people:0:link" data-text-io="cases:principly:people:0:name" target="_blank" data-track-target="Case Link: Jordan Lee")
                                li
                                    .label(data-text-io="cases:labels:funding")
                                    .value(data-text-io="cases:principly:funding")
                                li
                                    .label(data-text-io="cases:labels:tech")
                                    .value
                                        ul.tags
                                            li(data-text-io="cases:principly:tech:0")
                                            li(data-text-io="cases:principly:tech:1")
                                            li(data-text-io="cases:principly:tech:2")
                                            li(data-text-io="cases:principly:tech:3")
                                            li(data-text-io="cases:principly:tech:4")
                                            li(data-text-io="cases:principly:tech:5")
                                    .clearfix

                    .right
                        .intro-text
                            h4(data-text-io="cases:labels:introduction")
                            p(data-text-io="cases:principly:introduction:paragraphs:0")
                            p(data-text-io="cases:principly:introduction:paragraphs:1")
                        .contributions.scroll-effect.in-up
                            h4(data-text-io="cases:labels:contributions")
                            ul
                                li
                                    .name(data-text-io="cases:principly:contributions:0")
                                li
                                    .name(data-text-io="cases:principly:contributions:1")
                                li
                                    .name(data-text-io="cases:principly:contributions:2")
                                li
                                    .name(data-text-io="cases:principly:contributions:3")
                                li
                                    .name(data-text-io="cases:principly:contributions:4")
                                li
                                    .name(data-text-io="cases:principly:contributions:5")
                    .clearfix
                .case-study-body
                    .section.scroll-effect.in-up
                        h4(data-text-io="cases:principly:sections:0:heading")
                        h5(data-text-io="cases:principly:sections:0:subheading")
                        .left.scroll-effect.in-left
                            p.padding-20(data-text-io="cases:principly:sections:0:paragraphs:0")
                            p.padding-20(data-text-io="cases:principly:sections:0:paragraphs:1")
                        .right
                            .deep-dive
                                ul.naming
                                    li.scroll-effect.in-right
                                        .title(data-text-io="cases:principly:sections:0:deepDive:names:0:name")
                                        .description
                                            .positive
                                            span(data-text-io="cases:principly:sections:0:deepDive:names:0:positive")
                                        .description
                                            .negative
                                            span(data-text-io="cases:principly:sections:0:deepDive:names:0:negative")
                                    li.scroll-effect.in-right
                                        .title(data-text-io="cases:principly:sections:0:deepDive:names:1:name")
                                        .description
                                            .positive
                                            span(data-text-io="cases:principly:sections:0:deepDive:names:1:positive")
                                        .description
                                            .negative
                                            span(data-text-io="cases:principly:sections:0:deepDive:names:1:negative")
                                    li.scroll-effect.in-right
                                        .title(data-text-io="cases:principly:sections:0:deepDive:names:2:name")
                                        .description
                                            .positive
                                            span(data-text-io="cases:principly:sections:0:deepDive:names:2:positive")
                                        .description
                                            .negative
                                            span(data-text-io="cases:principly:sections:0:deepDive:names:2:negative")
                        .clearfix
                    .section.color-fill.business-dashboard.gray
                        .container.scroll-effect.in-up
                            h4(data-text-io="cases:principly:sections:1:heading")
                            h5(data-text-io="cases:principly:sections:1:subheading")
                            .blurb.center
                                p(data-text-io="cases:principly:sections:1:paragraphs:0")
                                ul
                                    li(data-text-io="cases:principly:sections:1:features:0")
                                    li(data-text-io="cases:principly:sections:1:features:1")
                                    li(data-text-io="cases:principly:sections:1:features:2")
                                    li(data-text-io="cases:principly:sections:1:features:3")
                            .clearfix
                            .line-divider
                            .clearfix
                            .blurb.right.scroll-effect.in-right
                                .title(data-text-io="cases:principly:sections:1:captions:0")
                                img#principly-flow-img.site-monitor-click(src="assets/img/principly_flow.png" data-track-target="Enlarge: Flow Diagram")

                            .blurb.left.scroll-effect.in-left
                                .title(data-text-io="cases:principly:sections:1:captions:1")
                                img#principly-imac-mockup.imac.site-monitor-click(src="assets/img/principly-imac.png" data-track-target="Enlarge: MockUp")
                            .clearfix
                    .section.scroll-effect.in-up
                        h4(data-text-io="cases:principly:sections:2:heading")
                        h5(data-text-io="cases:principly:sections:2:subheading")
                        blurb.left
                            p(data-text-io="cases:principly:sections:2:paragraphs:0")
                            p(data-text-io="cases:principly:sections:2:paragraphs:1")
                            .download
                                a.site-monitor-click(href="http://assets.ericphelan.com/media/Principly_Model_Sample.xlsx" target="_blank" data-text-io="cases:principly:sections:2:files:0" data-track-target="Download: Model")
                        blurb.right
                            .pitch-deck
                                img(src="assets/img/principly_slides.png")
                            .download
                                a.site-monitor-click(href="http://assets.ericphelan.com/media/PrinciplyOverviewJanuary2015.pdf" target="_blank" data-text-io="cases:principly:sections:2:files:1" data-track-target="Download: Pitch Deck")

                    .section.summary.scroll-effect.in-up
                        h4(data-text-io="cases:principly:sections:3:heading")
                        p(data-text-io="cases:principly:sections:3:paragraphs:0")
                    .footer
                        .container
                            .right.next-container
                                .next-project.site-monitor-click(data-track-target="Case Next")
                                    .label  NEXT
                                        img(src="assets/img/right_arrow.png")

