include ../mixins/case
include ../mixins/scenes/cases/epiSampler

+caseDetail('episampler','/#episampler','/cases/lassa','assets/img/thumbs/epiSampler.jpg','Case Study: epiSampler | Eric Phelan','/cases/episampler')
    +epiSampler()
