include ../mixins/case
include ../mixins/scenes/cases/epiSampler

+caseDetail('episampler','/#episampler','/cases/lassa','http://assets.ericphelan.com/img/thumbs/epiSampler.jpg','Case Study: epiSampler | Eric Phelan','http://ericphelan.com/cases/episampler')
    +epiSampler()
