include ../mixins/case
include ../mixins/scenes/cases/gathered

+caseDetail('gathered','/#assorted-small-projects','/cases/springshot','http://assets.ericphelan.com/img/thumbs/gathered.jpg','Case Study: Gathered | Eric Phelan','http://ericphelan.com/cases/gathered')
    +gathered()
