include ../mixins/case
include ../mixins/scenes/cases/gathered

+caseDetail('gathered','/#assorted-small-projects','/cases/springshot','assets/img/thumbs/gathered.jpg','Case Study: Gathered | Eric Phelan','/cases/gathered')
    +gathered()
