include ../mixins/case
include ../mixins/scenes/cases/glamAndGo

+caseDetail('glamAndGo','/#glam-and-go','/cases/principly','http://assets.ericphelan.com/img/thumbs/glamandgo.jpg','Case Study: Glam&Go | Eric Phelan')
    +glamAndGoContent()
