include ../mixins/case
include ../mixins/scenes/cases/ipplicant

+caseDetail('ipplicant','/#ipplicant','/cases/episampler','http://assets.ericphelan.com/img/thumbs/ipplicant.jpg','Case Study: ipplicant | Eric Phelan','http://ericphelan.com/cases/ipplicant')
    +ipplicant()
