include ../mixins/case
include ../mixins/scenes/cases/ipplicant

+caseDetail('ipplicant','/#ipplicant','/cases/episampler','assets/img/thumbs/ipplicant.jpg','Case Study: ipplicant | Eric Phelan','/cases/ipplicant')
    +ipplicant()
