include ../mixins/case
include ../mixins/scenes/cases/lassa
+caseDetail('lassa','/#lassa','/#home','http://assets.ericphelan.com/img/thumbs/lassa.jpg','Case Study: Lassa Fever | Eric Phelan','http://ericphelan.com/cases/lassa')
    +lassa()
