include ../mixins/case
include ../mixins/scenes/cases/principly

+caseDetail('principly','/#assorted-small-projects','/cases/springshot','assets/img/thumbs/principly.jpg','Case Study: Principly | Eric Phelan','/cases/principly')
    +principly()
