include ../mixins/case
include ../mixins/scenes/cases/principly

+caseDetail('principly','/#assorted-small-projects','/cases/springshot','http://assets.ericphelan.com/img/thumbs/principly.jpg','Case Study: Principly | Eric Phelan','http://ericphelan.com/cases/principly')
    +principly()
