include ../mixins/case
include ../mixins/scenes/cases/springshot

+caseDetail('springshot','/#springshot','/cases/ipplicant','assets/img/thumbs/springshot.jpg','Case Study: Springshot | Eric Phelan','/cases/sprinshot')
    +springshot()
