include ../mixins/case
include ../mixins/scenes/cases/springshot

+caseDetail('springshot','/#springshot','/cases/ipplicant','http://assets.ericphelan.com/img/thumbs/springshot.jpg','Case Study: Springshot | Eric Phelan','http://ericphelan.com/cases/sprinshot')
    +springshot()
