include ../mixins/case
include ../mixins/scenes/cases/vagabondStartup

+caseDetail('vagabondStartup','/#assorted-small-projects','/cases/principly','assets/img/thumbs/vagabondstartup.jpg','Case Study: VagabondStartup | Eric Phelan','/cases/vagabond-startup')
    +vagabondStartup()
