include ../mixins/case
include ../mixins/scenes/cases/vagabondStartup

+caseDetail('vagabondStartup','/#assorted-small-projects','/cases/principly','http://assets.ericphelan.com/img/thumbs/vagabondstartup.jpg','Case Study: VagabondStartup | Eric Phelan','http://ericphelan.com/cases/vagabond-startup')
    +vagabondStartup()
