
mixin _3a()
    ._3a
        .hero
            .js-background
                img._3a-background(speed-boost-media sb-src-l="http://assets.ericphelan.com/img/work_bkg_large.jpg" sb-src-m="http://assets.ericphelan.com/img/work_bkg_medium.jpg" sb-src-s="http://assets.ericphelan.com/img/work_bkg_small.jpg")
            .shell
                .center-logos
                    .line
                    .container
                        .logo
                            img(src="http://assets.ericphelan.com/img/logos/glam_and_go.png")
                        .logo
                            img(src="http://assets.ericphelan.com/img/logos/principly_white.png")
                        .logo
                            img(src="http://assets.ericphelan.com/img/logos/gathered_white.png")
                        .logo
                            img(src="http://assets.ericphelan.com/img/logos/springshot.png")
                        .logo
                            img(arc="http://assets.ericphelan.com/img/logos/ipplicant.png")
                        .logo
                            img(src="http://assets.ericphelan.com/img/logos/harvard.png")
                        .logo
                            img(src="http://assets.ericphelan.com/img/logos/broad.png")
                        .logo
                            img(src="http://assets.ericphelan.com/img/logos/lehman_brothers.png")
                        .clearfix
                .blurb
                    .text
                        .header(data-text-io="work:intro:heading")
                        .line(data-text-io="work:intro:text")
                        .call-to-action(data-text-io="work:intro:callToAction:0")
                        nbsp
                        span.click(data-text-io="work:intro:callToAction:1" onclick="Scrolling.advanceToNamedScene('contact')")
                        .about-site
                            .header(data-text-io="work:intro:about:heading")
                            .text(data-text-io="work:intro:about:text")
                        .center-wrap.site-monitor-click(onclick="Scrolling.jumpToScene(3)" data-track-target="Scroll Down")
                            .down-arrow-circle
                                img.circle(src="http://assets.ericphelan.com/img/down-arrow-circle.png")
                                img.arrow(src="http://assets.ericphelan.com/img/down-arrow-arrow.png")
