
mixin _3b()
    ._3b
        .shell.peek-a-boo
            .background-wrap.pinned
                .columns.site-monitor-click(data-track-target="Launch Case: Tiles")
                    .col_1.column
                        .top.container
                            .content.pinned(animate-order=1 onclick="Cases.show('glamAndGo')")
                                .title(data-text-io="work:summary:glamAndGo:title")
                                .reqs(data-text-io="work:summary:glamAndGo:roles")
                                .case-launch(onclick="Cases.show('glamAndGo')")
                                    span(data-text-io="nav:buttons:caseStudyText")
                                    .pointer-right
                        .bottom.container
                            .content.pinned(animate-order=6 onclick="Cases.show('glamAndGo')")
                                .phones
                                    img(src="assets/img/gandgo_phones.png")
                                .features
                                    ul
                                        li(data-text-io="work:summary:glamAndGo:features:0")
                                        li(data-text-io="work:summary:glamAndGo:features:1")
                                        li(data-text-io="work:summary:glamAndGo:features:2")
                                        li(data-text-io="work:summary:glamAndGo:features:3")
                                        li(data-text-io="work:summary:glamAndGo:features:4")
                                        li(data-text-io="work:summary:glamAndGo:features:5")
                    .col_2.column
                        .top.container
                            .content.pinned(animate-order=2 onclick="Cases.show('glamAndGo')")
                                .girl_frame
                                    img.girl_eye.zoomable.resizable(src="assets/img/glam_and_go_girl_eye.jpg")
                        .bottom.container
                            .content.pinned(animate-order=10 onclick="Cases.show('glamAndGo')")
                                .girl_frame
                                    img.zoomable.resizable(src="assets/img/girl_background.jpg")
                    .col_4.column
                        .top.container
                            .content.pinned(animate-order=4 onclick="Cases.show('glamAndGo')")
                                img.glam_tags.zoomable.resizable(src="assets/img/glam.jpg")
                                img.girl_eye.zoomable.resizable(src="assets/img/glam_and_go_girl_eye.jpg")
                        .bottom.container
                            .content.pinned(animate-order=8 onclick="Cases.show('glamAndGo')")
                                .laptop
                                    img.glamandgo_laptop(src="assets/img/glam_and_go_laptop.png")
        .mobile_glamandgo_tag
            img.resizable(src="assets/img/glam_and_go_tag_black.png")