
mixin _3c()
    ._3c
        .background
        .mask
        .container
            .box.site-monitor-click(onclick="Cases.show('vagabondStartup')" data-track-target="Launch Case: Box VagabondStartup")
                img.vs(src="http://assets.ericphelan.com/img/logos/vagabond_startup.png")
                .body
                    .description
                        p(data-text-io="work:summary:assortedProjects:vs:desc")
                    .skills
                        ul
                            li(data-text-io="work:summary:assortedProjects:vs:skills:0")
                            li(data-text-io="work:summary:assortedProjects:vs:skills:1")
                            li(data-text-io="work:summary:assortedProjects:vs:skills:2")
            .box.site-monitor-click(onclick="Cases.show('principly')")
                img.principly(src="http://assets.ericphelan.com/img/logos/principly_white.png" data-track-target="Launch Case: Box Principly")
                .body
                    .description
                        p(data-text-io="work:summary:assortedProjects:principly:desc")
                    .skills
                        ul
                            li(data-text-io="work:summary:assortedProjects:principly:skills:0")
                            li(data-text-io="work:summary:assortedProjects:principly:skills:1")
                            li(data-text-io="work:summary:assortedProjects:principly:skills:2")
                            li(data-text-io="work:summary:assortedProjects:principly:skills:3")
            .box.site-monitor-click(onclick="Cases.show('gathered')")
                img.gathered(src="http://assets.ericphelan.com/img/logos/gathered_white.png" data-track-target="Launch Case: Box Gathered")
                .body
                    .description
                        p(data-text-io="work:summary:assortedProjects:gathered:desc")
                    .skills
                        ul
                            li(data-text-io="work:summary:assortedProjects:gathered:skills:0")
                            li(data-text-io="work:summary:assortedProjects:gathered:skills:1")
                            li(data-text-io="work:summary:assortedProjects:gathered:skills:2")
            .page-title(data-text-io="work:summary:assortedProjects:motto")
        .grid
            .col
                .row
                    .flipbox
                .row
                    .flipbox
                .row
                    .flipbox
                .row
                    .flipbox
                .row
                    .flipbox
            .col
                .row
                    .flipbox
                .row
                    .flipbox
                .row
                    .flipbox
                .row
                    .flipbox
                .row
                    .flipbox
            .col
                .row
                    .flipbox
                .row
                    .flipbox
                .row
                    .flipbox
                .row
                    .flipbox
                .row
                    .flipbox
            .col
                .row
                    .flipbox
                .row
                    .flipbox
                .row
                    .flipbox
                .row
                    .flipbox
                .row
                    .flipbox
            .col
                .row
                    .flipbox
                .row
                    .flipbox
                .row
                    .flipbox
                .row
                    .flipbox
                .row
                    .flipbox
            .col
                .row
                    .flipbox
                .row
                    .flipbox
                .row
                    .flipbox
                .row
                    .flipbox
                .row
                    .flipbox