
mixin _3e()
    ._3e
        .hero
            .js-background
               img._3e-background(speed-boost-media sb-src-l="assets/img/springshot_bg_large.jpg" sb-src-m="assets/img/springshot_bg_medium.jpg" sb-src-s="assets/img/springshot_bg_small.jpg")
            .shell
                .mask
                .blurb
                    .info
                        .logo
                            img(src="assets/img/logos/springshot.png")
                        .title(data-text-io="work:summary:springshot:title")
                        .description(data-text-io="work:summary:springshot:desc")
                        .case-launch.site-monitor-click(onclick="Cases.show('springshot')" data-track-target="Launch Case Link")
                            span(data-text-io="nav:buttons:caseStudyText")
                            .pointer-right
                    .highlights
                        h4(data-text-io="work:summary:springshot:highlights:label")
                        ul
                            li
                                .left(data-text-io="work:summary:springshot:highlights:list:0:label")
                                .right(data-text-io="work:summary:springshot:highlights:list:0:value")
                                .clearfix
                            li
                                .left(data-text-io="work:summary:springshot:highlights:list:1:label")
                                .right(data-text-io="work:summary:springshot:highlights:list:1:value")
                                .clearfix
                            li
                                .left(data-text-io="work:summary:springshot:highlights:list:2:label")
                                .right(data-text-io="work:summary:springshot:highlights:list:2:value")
                                .clearfix
                            li
                                .left(data-text-io="work:summary:springshot:highlights:list:3:label")
                                .right
                                    .customers
                                        ul
                                            li
                                                img.jetblue(src="assets/img/logos/jetblue.png")
                                            li
                                                img.delta(src="assets/img/logos/delta.png")
                                            li
                                                img.aa(src="assets/img/logos/american_airlines.png")
                                .clearfix
                    .clearfix
                    .tech
                        .ipad.item
                            img(src="assets/img/springshot_01.png")
                        .line.item
                            .dash
                        .imac.item
                            img(src="assets/img/springshot_02.png")
                        .line.item
                            .dash
                        .iphone_1.item
                            img(src="assets/img/springshot_03.png")
                        .line.item
                            .dash
                        .iphone_2.item
                            img(src="assets/img/springshot_04.png")
                        .line.item
                            .dash
