
mixin _3f()
    ._3f
        .full-page.media-player#ipplicant-demo
            .container
                .media-element
                    video#ipplicant-demo-video(controls=false)
                        source(src="assets/media/ipplicant_intro_animation.mov" type="video/mp4" )
                    .description(data-text-io="work:summary:ipplicant:video:title")
                    .subdetail(data-text-io="work:summary:ipplicant:video:subtitle")
                    .hint(data-text-io="nav:buttons:clickToCloseVideo")
        .shell.peek-a-boo
            .background-wrap.pinned
                .columns
                    .col_1.column
                        .top.container
                            .content.pinned(animate-order=1).shadow.top-left
                                img.zoomable.resizable(src="assets/img/ipplicant_upper_left.jpg")
                        .bottom.container
                            .content.pinned(animate-order=7).shadow.bottom-left
                                img.zoomable.resizable(src="assets/img/hands_1.jpg")
                                .logo
                                    img(src="assets/img/ipplicant_logo.png")
                    .col_2.column
                        .top.container
                            .content.pinned(animate-order=2).shadow.top-line
                                .title
                                    .top.zigzag
                                    .text(data-text-io="work:summary:ipplicant:desc")
                                    .bottom.zigzag
                                    .role
                                        .text(data-text-io="work:summary:ipplicant:role")
                                        .hashtags(data-text-io="work:summary:ipplicant:hashtags")
                                        .case-launch.site-monitor-click(onclick="Cases.show('ipplicant')" data-track-target="Launch Case Link")
                                            span(data-text-io="nav:buttons:caseStudyText")
                                            .pointer-right
                        .bottom.container
                            .content.pinned(animate-order=8).shadow.bottom-line
                                img.zoomable.resizable(src="assets/img/hands_2.jpg")
                                .mobile_logo
                                    img(src="assets/img/ipplicant_logo.png")
                    .col_3.column
                        .top.container
                            .content.pinned.shadow.top-line(animate-order=3)
                                img.resizable(src="assets/img/ipplicant_upper_3.jpg")
                                .imac.ipplicant-demo-play.site-monitor-click(data-track-target="Video: ipplicant trailer")
                                    img.imac-img(src="assets/img/ipplicant_imac.png")
                                    .play-button
                                        img.play(src="assets/img/ipplicant_play_button.png")
                        .bottom.container
                            .content.pinned(animate-order=6).shadow.bottom-line
                                .tech(data-text-io="work:summary:ipplicant:tech")
                    .col_4.column
                        .top.container
                            .content.pinned(animate-order=4).shadow.top-right
                                img.zoomable.resizable(src="assets/img/ipplicant_upper_right.jpg")
                        .bottom.container
                            .content.pinned(animate-order=5).shadow.bottom-right
                                img.zoomable.resizable(src="assets/img/ipplicant_bottom_right.jpg")
