
mixin _3g()
    ._3g
        .hero
            .js-background
                img._3g-background(speed-boost-media sb-src-l="assets/img/episampler_bg_large.jpg" sb-src-m="assets/img/episampler_bg_medium.jpg" sb-src-s="assets/img/episampler_bg_small.jpg")
            .shell
                .blurb
                    .logo_header.fly-in
                        img(src="assets/img/logos/episampler.jpg")
                    .role_bar.fly-in(data-text-io="work:summary:epiSampler:role")
                    .description.fly-in
                        .text(data-text-io="work:summary:epiSampler:desc")
                        .case-launch.site-monitor-click(onclick="Cases.show('episampler')" data-track-target="Launch Case Link")
                            span(data-text-io="nav:buttons:caseStudyText")
                            .pointer-right.red
                    .logos
                        img(src="assets/img/logos/harvard.png")
                        img(src="assets/img/logos/broad.png")
                        img.tulane(src="assets/img/logos/tulane.png")
