
mixin _3h()
    ._3h
        .hero
            .js-background
                img._3h-background(speed-boost-media sb-src-l="assets/img/lassa_bg_large.jpg" sb-src-m="assets/img/lassa_bg_medium.jpg" sb-src-s="assets/img/lassa_bg_small.jpg")
            .shell
                .blurb
                    .info
                        .title(data-text-io="work:summary:lassa:title")
                        .role(data-text-io="work:summary:lassa:role")
                        .description(data-text-io="work:summary:lassa:desc")
                        .case-launch.site-monitor-click(onclick="Cases.show('lassa')" data-track-target="Launch Case Link")
                            span(data-text-io="nav:buttons:caseStudyText")
                            .pointer-right
                        .logos
                            img(src="assets/img/logos/harvard.png")
                            img(src="assets/img/logos/broad.png")
                    .experience
                        h4(data-text-io="work:summary:lassa:experience:label")
                        ul
                            li(data-text-io="work:summary:lassa:experience:list:0")
                            li(data-text-io="work:summary:lassa:experience:list:1")
                            li(data-text-io="work:summary:lassa:experience:list:2")
                            li(data-text-io="work:summary:lassa:experience:list:3")
                    .clearfix