
mixin _3i()
    ._3i
        .background
        .mask
        .container.flip-container
            .square
                .flipper
                    .front
                        .red-corner
                        .content
                            .left-side
                                .detail.launch-bofa.site-monitor-click(data-track-target="View Detail: BofA")
                                    img(src="http://assets.ericphelan.com/img/logos/bofa.png")
                                    .text(data-text-io="work:summary:finance:bofa:role")
                            .right-side
                                .detail.launch-lehman.site-monitor-click(data-track-target="View Detail: Lehman")
                                    img(src="http://assets.ericphelan.com/img/logos/lehman_red.png")
                                    .text(data-text-io="work:summary:finance:lehman:role")
                    .back
                        .more-info.lehman
                            .close X
                            .mobile-close.left
                            .mobile-close.right
                            .logo
                                img(src="http://assets.ericphelan.com/img/logos/lehman_red.png")

                            .role-details
                                .role(data-text-io="work:summary:finance:lehman:detail:role")
                                .city(data-text-io="work:summary:finance:lehman:detail:city")
                            .details
                                ul
                                    li(data-text-io="work:summary:finance:lehman:detail:experience:0")
                                    li(data-text-io="work:summary:finance:lehman:detail:experience:1")
                                    li(data-text-io="work:summary:finance:lehman:detail:experience:2")
                                    li(data-text-io="work:summary:finance:lehman:detail:experience:3")
                        .more-info.bofa
                            .close X
                            .mobile-close.left
                            .mobile-close.right
                            .logo
                                img(src="http://assets.ericphelan.com/img/logos/bofa.png")
                            .role-details
                                .role(data-text-io="work:summary:finance:bofa:detail:role")
                                .city(data-text-io="work:summary:finance:bofa:detail:city")
                            .details
                                ul
                                    li(data-text-io="work:summary:finance:bofa:detail:experience:0")
                                    li(data-text-io="work:summary:finance:bofa:detail:experience:1")
                                    li(data-text-io="work:summary:finance:bofa:detail:experience:2")
                                    li(data-text-io="work:summary:finance:bofa:detail:experience:3")
                                    li(data-text-io="work:summary:finance:bofa:detail:experience:4")


        .grid
            .col
                .row
                    .flipbox
                .row
                    .flipbox
                .row
                    .flipbox
                .row
                    .flipbox
                .row
                    .flipbox
            .col
                .row
                    .flipbox
                .row
                    .flipbox
                .row
                    .flipbox
                .row
                    .flipbox
                .row
                    .flipbox
            .col
                .row
                    .flipbox
                .row
                    .flipbox
                .row
                    .flipbox
                .row
                    .flipbox
                .row
                    .flipbox
            .col
                .row
                    .flipbox
                .row
                    .flipbox
                .row
                    .flipbox
                .row
                    .flipbox
                .row
                    .flipbox
            .col
                .row
                    .flipbox
                .row
                    .flipbox
                .row
                    .flipbox
                .row
                    .flipbox
                .row
                    .flipbox
            .col
                .row
                    .flipbox
                .row
                    .flipbox
                .row
                    .flipbox
                .row
                    .flipbox
                .row
                    .flipbox