doctype html
html
    head
        meta(http-equiv='content-type', content='text/html;charset=UTF-8')
        title 404 - Eric Phelan
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
        meta(name='apple-mobile-web-app-capable', content='yes')
        meta(name='apple-touch-fullscreen', content='yes')
        meta(name='apple-mobile-web-app-status-bar-style', content='default')
        meta(content='Eric Phelan: Full-Stack Developer, Problem Solver and Entrepreneur', name='description')
        meta(content='Eric Phelan', name='author')
        link(href='assets/css/404.css', rel='stylesheet', type='text/css')
        link(rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon")
    body
        .error-container
            h1 404
            p Page not found
            a(href="/") Go back home