include mixins/global
include mixins/scenes/_1
include mixins/scenes/_2
include mixins/scenes/_3
include mixins/scenes/_4

.slide-deck
    +scene_1()
    +scene_2()
    +scene_3()
    +scene_4()
+fixedNavigation()
