include mixins/skillsCircles
mixin scene_2
    #scene-2.slide-container
        .background
        .canvas
            .bio-text.pull-left.quad.color-1
                .un-folder.left-unfold
                    .stable-side
                        .un-folder.bottom-unfold
                            .stable-side
                            .unfolding-side
                    .unfolding-side
                .final-wrap
                    .heading
                        h4(data-text-io = "cv:sections:inspiration")
                    .content.terminal
                    .mask-image
                    .final-quotes
                        .quote.active
                            .text(data-text-io = "cv:quotes:0:text")
                            .author(data-text-io = "cv:quotes:0:author")
                        .quote
                            .text(data-text-io = "cv:quotes:1:text")
                            .author(data-text-io = "cv:quotes:1:author")
                        .quote
                            .text(data-text-io = "cv:quotes:2:text")
                            .author(data-text-io = "cv:quotes:2:author")
            .photos.pull-right.quad.color-2
                .un-folder.left-unfold
                    .stable-side
                        .un-folder.top-unfold
                            .stable-side
                            .unfolding-side
                    .unfolding-side
                .final-wrap
                    .heading
                        h4(data-text-io = "cv:sections:portrait")
                    .content
                        .wrap
                            .morph-photos.hidden
                                .morphable(img-src="http://assets.ericphelan.com/img/portrait_2.jpg")
                                .morphable(img-src="http://assets.ericphelan.com/img/portrait_5.jpg")
                                .morphable(img-src="http://assets.ericphelan.com/img/portrait_4.jpg")
                                .morphable(img-src="http://assets.ericphelan.com/img/portrait_3.jpg")

                            //.photo-panel
                                .photo-eric
            .skills.pull-right.quad.bottom.color-3
                .un-folder.bottom-unfold
                    .stable-side
                        .un-folder.right-unfold
                            .stable-side
                            .unfolding-side
                    .unfolding-side
                .final-wrap
                    .heading
                        h4(data-text-io = "cv:sections:technical")
                    .content
                        +codingSkills()
                        +financeSkills()
                        +uiUxSkills()
                        +dataSkills()
                        .clearfix
                        +productDesign()
                        +projectManagement()
                        +startupExperience()
                    +skillsList()
                    .geometrics
            .qualifications.pull-left.quad.bottom.color-4
                .un-folder.top-unfold
                    .stable-side
                        .un-folder.right-unfold
                            .stable-side
                            .unfolding-side
                    .unfolding-side
                .final-wrap
                    .content
                        .block
                            .section(data-text-io="nav:headings:education")
                            .school
                                .year.pull-right(data-text-io="cv:quals:education:college:year")
                                .title.pull-left(data-text-io="cv:quals:education:college:school")
                                .clearfix
                                .subtitle(data-text-io="cv:quals:education:college:degree")
                            .school
                                .year.pull-right(data-text-io="cv:quals:education:hs:year")
                                .title.pull-left(data-text-io="cv:quals:education:hs:school")
                                .clearfix
                        .block
                            .section(data-text-io="nav:headings:patents")
                            .pub
                                .title.pull-left
                                    a(data-attr-io="href|cv:quals:patents:0:link" data-text-io="cv:quals:patents:0:title" target="_blank")
                                .year.pull-right(data-text-io="cv:quals:patents:0:year")
                                .clearfix
                                .author(data-text-io="cv:quals:patents:0:authors")

                        .block
                            .section(data-text-io="nav:headings:pubs")
                            .pub
                                .title
                                    a(data-attr-io="href|cv:quals:publications:0:link" data-text-io="cv:quals:publications:0:title" target="_blank")
                                .citation.pull-left(data-text-io="cv:quals:publications:0:citation")
                                .clearfix
                            .pub
                                .title
                                    a(data-attr-io="href|cv:quals:publications:1:link" data-text-io="cv:quals:publications:1:title" target="_blank")
                                .citation.pull-left(data-text-io="cv:quals:publications:1:citation")
                                .clearfix
                            .pub
                                .title
                                    a(data-attr-io="href|cv:quals:publications:2:link" data-text-io="cv:quals:publications:2:title" target="_blank")
                                .citation.pull-left(data-text-io="cv:quals:publications:2:citation")
                                .clearfix

                        .block.certs
                            .section(data-text-io="nav:headings:certs")
                            .cert
                                .title.pull-left(data-text-io="cv:quals:certifications:0:name")
                                .date.pull-right(data-text-io="cv:quals:certifications:0:date")
                                .clearfix
                            .cert
                                .title.pull-left(data-text-io="cv:quals:certifications:1:name")
                                .date.pull-right(data-text-io="cv:quals:certifications:1:date")
                                .clearfix
                            .cert
                                .title.pull-left(data-text-io="cv:quals:certifications:2:name")
                                .date.pull-right(data-text-io="cv:quals:certifications:2:date")
                                .clearfix

        +skillTemplate()
