
include subscenes/_3a.pug
include subscenes/_3b.pug
include subscenes/_3c.pug
include subscenes/_3e.pug
include subscenes/_3f.pug
include subscenes/_3g.pug
include subscenes/_3h.pug
include subscenes/_3i.pug
include cases/glamAndGo.pug
include cases/principly.pug
include cases/vagabondStartup.pug
include cases/gathered.pug
include cases/springshot.pug
include cases/ipplicant.pug
include cases/epiSampler.pug
include cases/lassa.pug

mixin scene_3
    #scene-3.slide-container
        .background
            .left-timeline
                .line-wrap
                    .line-marker
                ul.timeline
                    li.scene-3a(onclick="Scrolling.jumpToScene(2)")
                        .timeline-container
                            .date
                                .label(data-text-io="work:nav:0:date:main")
                                .blurb(data-text-io="work:nav:0:date:blurb")
                            .line-marker
                                .circle
                            .item
                                .label(data-text-io="work:nav:0:info:title")
                                .blurb
                                    .text(data-text-io="work:nav:0:info:detail")

                    li.scene-3b.big(onclick="Scrolling.jumpToScene(3)")
                        .timeline-container
                            .date
                                .label(data-text-io="work:nav:1:date:main")
                                .blurb(data-text-io="work:nav:1:date:blurb")
                            .line-marker
                                .circle
                            .item
                                .label(data-text-io="work:nav:1:info:title")
                                .blurb
                                    .text(data-text-io="work:nav:1:info:detail")
                    li.scene-3c.small(onclick="Scrolling.jumpToScene(4)")
                        .timeline-container
                            .date
                                .label(data-text-io="work:nav:2:date:main")
                                .blurb(data-text-io="work:nav:2:date:blurb")
                            .line-marker
                                .circle
                            .item
                                .label(data-text-io="work:nav:2:info:title")
                                .blurb
                                    .text(data-text-io="work:nav:2:info:detail")
                    li.scene-3e.big(onclick="Scrolling.jumpToScene(5)")
                        .timeline-container
                            .date
                                .label(data-text-io="work:nav:3:date:main")
                                .blurb(data-text-io="work:nav:3:date:blurb")
                            .line-marker
                                .circle
                            .item
                                .label(data-text-io="work:nav:3:info:title")
                                .blurb
                                    .text(data-text-io="work:nav:3:info:detail")
                    li.scene-3f.small(onclick="Scrolling.jumpToScene(6)")
                        .timeline-container
                            .date
                                .label(data-text-io="work:nav:4:date:main")
                                .blurb(data-text-io="work:nav:4:date:blurb")
                            .line-marker
                                .circle
                            .item
                                .label(data-text-io="work:nav:4:info:title")
                                .blurb
                                    .text(data-text-io="work:nav:4:info:detail")
                    li.scene-3g.big(onclick="Scrolling.jumpToScene(7)")
                        .timeline-container
                            .date
                                .label(data-text-io="work:nav:5:date:main")
                                .blurb(data-text-io="work:nav:5:date:blurb")
                            .line-marker
                                .circle
                            .item
                                .label(data-text-io="work:nav:5:info:title")
                                .blurb
                                    .text(data-text-io="work:nav:5:info:detail")
                    li.scene-3h.medium(onclick="Scrolling.jumpToScene(8)")
                        .timeline-container
                            .date
                                .label(data-text-io="work:nav:6:date:main")
                                .blurb(data-text-io="work:nav:6:date:blurb")
                            .line-marker
                                .circle
                            .item
                                .label(data-text-io="work:nav:6:info:title")
                                .blurb
                                    .text(data-text-io="work:nav:6:info:detail")
                    //li.scene-3i.medium(onclick="Scrolling.jumpToScene(9)")
                        .timeline-container
                            .date
                                .label(data-text-io="work:nav:7:date:main")
                                .blurb(data-text-io="work:nav:7:date:blurb")
                            .line-marker
                                .circle
                            .item
                                .label(data-text-io="work:nav:7:info:title")
                                .blurb
                                    .text(data-text-io="work:nav:7:info:detail")
            .right-display-container
                .scene-3a.timeframe
                    +_3a()
                .scene-3b.timeframe.start-offscreen
                    +_3b()
                .scene-3c.timeframe.start-offscreen
                    +_3c()
                .scene-3e.timeframe.start-offscreen
                    +_3e()
                .scene-3f.timeframe.start-offscreen
                    +_3f()
                .scene-3g.timeframe.start-offscreen
                    +_3g()
                .scene-3h.timeframe.start-offscreen
                    +_3h()
                //.scene-3i.timeframe.start-offscreen
                    +_3i()
    +glamAndGoContent()
    +principly()
    +vagabondStartup()
    +gathered()
    +springshot()
    +ipplicant()
    +epiSampler()
    +lassa()